{
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "bracketSpacing": true,
    "semi": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 200
            }
        }
    ]
}