@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: SofiaPro;
        font-weight: 400;
        src: url(../../public/fonts/SofiaProRegular.ttf);
    }
    @font-face {
        font-family: SofiaPro;
        font-weight: 500;
        src: url(../../public/fonts/SofiaProMedium.ttf);
    }
    @font-face {
        font-family: SofiaPro;
        font-weight: 600;
        src: url(../../public/fonts/SofiaProSemiBold.ttf);
    }
    @font-face {
        font-family: SofiaPro;
        font-weight: 700;
        src: url(../../public/fonts/SofiaProBold.ttf);
    }
}

@layer base {
    html,
    body {
        margin: 0;

        width: 100vw;
        height: 100vh;

        overflow-x: hidden;
        scroll-behavior: smooth;

        @apply font-ted;
    }
    a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

    button {
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    * {
        box-sizing: border-box;
    }

    .menuItem {
        cursor: pointer;

        position: relative;

        -webkit-text-stroke: 1px white;
        background-color: transparent;
        color: white;
    }
    .menuItem::before {
        content: attr(data-text);

        position: absolute;
        width: 0%;

        color: #e62b1e;

        overflow: hidden;
        white-space: nowrap;

        transition: width 300ms ease-out;
    }
    .menuItem::after {
        content: '';
        position: absolute;

        left: 0;
        top: 0;
        width: 0;
        height: 100%;

        border-bottom: 2px solid white;

        transition: width 300ms ease-out;
    }
    .menuItem:hover:after {
        width: 100%;
    }

    .menuItem:hover::before {
        width: 100%;
    }

    .redFilter {
        filter: invert(25%) sepia(44%) saturate(6762%) hue-rotate(352deg) brightness(93%)
            contrast(94%);
    }

    ::-webkit-scrollbar {
        width: 10px;
        background-color: #1f1d1d;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #e62b1e;
        border: 2px solid #ffffff40;
    }
}
.photogallery-container {
    position: relative;
    margin-top: 0px;
    padding: 20px;
    column-count: 4;
    column-gap: 10px;
    /* background-color: #000000; */
}

.photogallery-item {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
    .photogallery-container {
        column-count: 2;
    }
}

.photogallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    display: block;
}

.photogallery-item:hover {
    transform: scale(1.0001);
}

.photogallery-item:hover img {
    transform: scale(1.02);
}

.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border: 2px dashed #888;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-container:hover {
    border-color: #888;
  }
  
  .upload-container input[type="file"] {
    display: none;
  }
  
  .upload-icon {
    font-size: 40px;
    color: #fff;
  }
  
  .upload-text {
    margin-top: 10px;
    font-size: 16px;
    color: #888;
    padding-bottom: 20px;
  }
  
  .upload-text strong {
    color: #fff;
  }
  
  .upload-photo-container {
    background-color: #222; /* pitch black color */
}

.upload-button {
    color: white; /* White text color */
}

.remove-button {
    color: red;
}

.media-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.media-table th,
.media-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.media-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.save-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.save-button:hover {
    background-color: #0056b3;
}

.alert-dialog-wrapper {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.alert-dialog-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert-dialog-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.alert-dialog-footer {
  display: flex;
  justify-content: flex-end;
}

.alert-dialog-cancel,
.alert-dialog-action {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.alert-dialog-cancel {
  background-color: #ccc;
  margin-right: 10px;
}

.alert-dialog-action {
  background-color: #007bff;
  color: #fff;
}

.alert-dialog-cancel:hover,
.alert-dialog-action:hover {
  opacity: 0.8;
}
